* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: Lato, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.fixedPosition {
    position: fixed;
}

/* Typography */
html {
    font-size: 1rem;
    -webkit-transform: 0.5s;
        -ms-transform: 0.5s;
            transform: 0.5s;
  }

  h2 {
    font-size: 1.35rem;
  }
  
  @media (min-width: 576px) {
    html {
      font-size: 1.2rem; /* media-breakpoint-up(sm) */
    }
  }
  
  @media (min-width: 768px) {
    html {
      font-size: 1.4rem; /* media-breakpoint-up(md) */
    }
  }
  
  @media (min-width: 992px) {
    html {
      font-size: 1.6rem; /* media-breakpoint-up(lg) */
    }

    h2 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 1rem;
    }

    p {
        font-size: 0.8rem;
    }
  }

  /* Navigation Bar */

  .navbar-brand{
    z-index: 1;
  }

  .hamburger-icon {
    z-index: 1;
  }

  .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 200; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background: -o-linear-gradient(top, #373B44, #4286f4);
    background: -webkit-gradient(linear, left top, left bottom, from(#373B44), to(#4286f4));
    background: linear-gradient(to bottom, #373B44, #4286f4);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    margin-left: 2rem;
  }

  .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #f1f1f1;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 2.8rem;
    margin-left: 50px;
  }
  
  .backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: #fff;
  }

  .line{
      width: 2.4rem;
      height: 0.3rem;
      background: #E9F1F7;
      -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
              box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
  }

  .hamburger {
    padding: 0.3rem 0.3rem;
    z-index: 1;
  }
  

  .menu-width {
    width: 250px !important;
  }

  .sidenav a.brand-sidenav {
    padding: initial;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    margin-left: initial;
  }

  .active-li-element {
    border-left: solid 6px #fff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

.scroll-prevent {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

@media (min-width: 576px) {
  
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
  .sidenav {
    width: 100%; /* 0 width - change this with JavaScript */
    position: relative;
    background: transparent; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: initial; /* Place content 60px from the top */
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  .sidenav .closebtn {
    display: none;
    position: initial;
    right: 0;
    font-size: 1rem;
    margin-left: auto;
  }

  .sidenav a {
    padding: initial;
    text-decoration: none;
    font-size: 1rem;
    color: #818181;
    display: block;
    margin-left: initial;
  }

  .navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.backdrop {
  display: none;
}

.sidenav{
  width: 100%;
}

.menu-width {
  width: 100% !important;
}

.active-li-element {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-left: none;
}

.active-ancor {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: solid 4px #007BEA;
}

.scroll-prevent {
  position: initial;
    top: 0;
    left: 0;
    height: initial;
    width: initial;
    overflow: initial;
}
}

  /* Hero Section */

  .callout-container-img-bg {
    height: 80vh;
    background: url(https://i.imgur.com/VW1yLft.jpg) no-repeat center top fixed;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}

.hero-background-color {
    background: rgba(0,0,0,0.4);
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 10px;
}

  .hero-background {
    position: absolute;
    top: 0;
    overflow: hidden;
    left: 0;
    height: 80vh;
    width: 100%;   
  }

  .lead {
    font-size: 0.8rem;
    font-weight: 300;
  }

  .hero-fmore--position {
    position: relative;
    padding: 2.5rem;
    top: -4rem;
    background: #fff;
    -webkit-box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.4);
            box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.4);
}

.link--position-bottom {
    position: absolute;
    bottom: 0;
}

.arrow-icon--margin {
    margin-left: 0.8rem;
}

.icon-font-size {
    font-size: 3rem;
    background: #373B44;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
    background: -o-linear-gradient(left, #4286f4, #373B44);
    background: -webkit-gradient(linear, left top, right top, from(#4286f4), to(#373B44));
    background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
}


/* Section 1 */

.section1-h2--border::after {
    background-color: #006DFE; 
    content: '';
    display: block;
    height: 0.11rem;
    position: absolute;
    width: 12.3rem;
}

/* .section1-img--overflow {
    overflow: hidden;
    max-height: 20vh;
} */

.overlay-color--black {
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

.section1-img-text--position {
  position: absolute;
  bottom: 0.6rem;
  left: 1.25rem;
  color: #fff;
  font-size: 1.1rem;
}

.section1-img-textrow2--position {
  position: absolute;
  bottom: 0.5rem;
  left: 1.25rem;
  color: #fff;
  font-size: 0.6rem;
}


@media (min-width: 576px) {
  
}

@media (min-width: 768px) {
  
}

@media (min-width: 992px) {
  .section1-img-text--position {
    position: absolute;
    bottom: 1rem;
    left: 1.25rem;
    color: #fff;
    font-size: 1.7rem;
  }

  .section1-img-textrow2--position {
    position: absolute;
    bottom: 0.5rem;
    left: 1.25rem;
    color: #fff;
    font-size: 1.7rem;
  }
}
/*section2 */

.section2--position {
    margin-top: 5rem;
}


/*section3 */

.section3--position {
  margin-top: 5rem;
}


.section3-img-text--position {
  position: relative;
  bottom: 5rem;
  font-size: 3rem;
  color: #fff;
  left: 1.5rem;
  height: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}


@media (min-width: 576px) {
  
}

@media (min-width: 768px) {
  
}

@media (min-width: 992px) {
  .section3-img-text--position {
    position: relative;
    bottom: 3rem;
    font-size: 1.5rem;
    color: #fff;
    left: 1.5rem;
    height: 0;
  }
}

/*Footer Position*/

.footer--position {
  margin-top: 5rem;
  background: #0E1D28;
}

.footer-icon--size {
  font-size: 2.3rem;
}


@media (min-width: 576px) {
  
}

@media (min-width: 768px) {
  
}

@media (min-width: 992px) {
  .footer-btn--position {
    position: absolute;
    bottom: 0;
  }
}




/* BTN */

.btn {
    border-radius: 0; 
    
}

.form-control {
  padding-top: 2em; /*Bootstrap class*/
  color: #111111;
  border: solid 2px #006DFE;
} 

.input-group>.custom-select:not(:first-child), .input-group>.form-control:not(:first-child) {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 3rem;
}

.input-group-sm>.custom-select,
  .input-group-sm>.form-control, 
  .input-group-sm>.input-group-append>.btn, 
  .input-group-sm>.input-group-append>.input-group-text, 
  .input-group-sm>.input-group-prepend>.btn, 
  .input-group-sm>.input-group-prepend>.input-group-text {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    color: #111111;
    background-color: #fff;
    border-radius: 5px;
  }

  .location-search-btn {
    padding: 0.5rem 2.6rem;
  }

  #address::-webkit-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #111111;
    opacity: 1; /* Firefox */
    font-size: 0.8rem;
    text-align: center;
  }

  #address::-moz-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #111111;
    opacity: 1; /* Firefox */
    font-size: 0.8rem;
    text-align: center;
  }

  #address:-ms-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #111111;
    opacity: 1; /* Firefox */
    font-size: 0.8rem;
    text-align: center;
  }

  #address::-ms-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #111111;
    opacity: 1; /* Firefox */
    font-size: 0.8rem;
    text-align: center;
  }

  #address::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #111111;
    opacity: 1; /* Firefox */
    font-size: 0.8rem;
    text-align: center;
  }


  @media (min-width: 576px) {
  
  }
  
  @media (min-width: 768px) {
    
  }
  
  @media (min-width: 992px) {
    .form-control {
      border: none;
      border-bottom: 2px solid #fff;
      background:transparent; /*Bootstrap class*/
      color: #fff;
    } 
  
    .input-group>.custom-select:not(:first-child), .input-group>.form-control:not(:first-child) {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      height: initial;
    }

  .form-control:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
    border-color: #fff;
  }
  
  .form-control::-webkit-input-placeholder{
    color: #fff;
  }
  
  .form-control::-moz-placeholder{
    color: #fff;
  }
  
  .form-control:-ms-input-placeholder{
    color: #fff;
  }
  
  .form-control::-ms-input-placeholder{
    color: #fff;
  }
  
  .form-control::placeholder{
    color: #fff;
  }

  .input-group-sm>.custom-select,
  .input-group-sm>.form-control, 
  .input-group-sm>.input-group-append>.btn, 
  .input-group-sm>.input-group-append>.input-group-text, 
  .input-group-sm>.input-group-prepend>.btn, 
  .input-group-sm>.input-group-prepend>.input-group-text {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 0rem;
    color: #fff;
    background-color: transparent;
  }

.input-group-text {
    background-color: transparent;
    border-bottom: 2px solid #fff;
    border-top: none;
    border-left: none;
    border-right: none;
}


.input-bar-locations::-webkit-input-placeholder {
  color: #fff;
}


.input-bar-locations::-moz-placeholder {
  color: #fff;
}


.input-bar-locations:-ms-input-placeholder {
  color: #fff;
}


.input-bar-locations::-ms-input-placeholder {
  color: #fff;
}


.input-bar-locations::placeholder {
  color: #fff;
}

#address::-webkit-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
  font-size: 0.8rem;
  text-align: center;
}

#address::-moz-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
  font-size: 0.8rem;
  text-align: center;
}

#address:-ms-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
  font-size: 0.8rem;
  text-align: center;
}

#address::-ms-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
  font-size: 0.8rem;
  text-align: center;
}

#address::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
  font-size: 0.8rem;
  text-align: center;
}

.location-search-btn {
  padding: .375rem .75rem;
}

}

/* Attraction page */

  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }

/* Contact Us page */

  label {
    display: block;
  }

  .contact-form-background--color {
    background: -o-linear-gradient(left, #373B44, #4286f4);
    background: -webkit-gradient(linear, left top, right top, from(#373B44), to(#4286f4));
    background: linear-gradient(to right, #373B44, #4286f4);
  }
  

  .footer-contact-us--position {
    background: #0E1D28;
  }

  .contact-form-input {
    border: 0;
    background: #fff;
    color: #4a4a4a;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0.5rem;
    
  }
  
  .contact-form-input::-webkit-input-placeholder {
    text-align: start;
  }

  .contact-form-text {
    max-width: 100%;
    width: 25rem;
    max-height: 150px;
    padding: 30px 60px 30px 25px;
    resize: none;
    height: auto;
}


/* Location */

#address::-webkit-input-placeholder{
  text-align: left;
}

#address::-moz-placeholder{
  text-align: left;
}

#address:-ms-input-placeholder{
  text-align: left;
}

#address::-ms-input-placeholder{
  text-align: left;
}

#address::placeholder{
  text-align: left;
}

#map {
  height: 15rem;  /* The height is 400 pixels */
  width: 100%; 
  }

.hero-map--position{
  position: relative;
  padding: 1rem;
  top: -4rem;
  background: #fff;
  -webkit-box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.4);
          box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.4);
}

.text-black {
  color: #111111;
}

option[value=""][disabled] {
  display: none;
}
option {
  color: black;
}

.select-box::-ms-expand { 
  display: none;
}

.select-box {
  -webkit-appearance: none;
    -moz-appearance: none;
       appearance: none;
}


.places-list-style {
  list-style: none;
  height: 11rem;
  overflow: auto;
  text-align: center;
}

.places-list-style li{
  background-color: #fcfcfc;
}

.places-list-style li:nth-child(even) {
  background-color: #f1f1f1;
}

/* Lazy Load */

.fade-in {
  opacity: 0;
  -webkit-transition: opacity 250ms ease-in;
  -o-transition: opacity 250ms ease-in;
  transition: opacity 250ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}